**/.DS_Store

./web_music_streaming/build
web_music_streaming/node_modules
web_music_streaming/package-lock.json


streaming/music/*
streaming/package-lock.json
streaming/node_modules

music.streaming/src/main/resources/music/*
music.streaming/src/main/resources/video/*


ios_music_streaming/.swiftpm
.swiftpm
ios_music_streaming/.build
ios_music_streaming/Packages
ios_music_streaming/xcuserdata
ios_music_streaming/*.xccheckout
ios_music_streaming/*.xcuserstate

ios_music_streaming/ios_music_streaming.xcodeproj
ios_music_streaming/ios_music_streaming.zip
