.DS_Store


streaming/music/*
streaming/package-lock.json
streaming/node_modules

ios_music_streaming/.swiftpm
.swiftpm
ios_music_streaming/.build
ios_music_streaming/Packages
ios_music_streaming/xcuserdata
ios_music_streaming/*.xccheckout
ios_music_streaming/*.xcuserstate

ios_music_streaming/ios_music_streaming.xcodeproj
ios_music_streaming/ios_music_streaming.zip
