body {
  margin: 0;
}

.project-wrapper {
  display: grid;
  grid-template-areas:
    'nav-box main-view blank'
    'music-player-bar music-player-bar music-player-bar';
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  position: relative;
}
/*
grid-template-areas:
        "nav-bar main-view buddy-feed"
        "now-playing-bar now-playing-bar now-playing-bar";
        */

/*header styling*/
.navigation-box {
  grid-area: nav-box;
  background-color: aqua;
  display: flex;
  width: 221px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  z-index: 3;
  position: relative;
}

.logo {
  flex: 2;
  width: 187px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon {
  height: 46.85px;
}

.navigation-contents {
  flex: 1;
  width: 187px;
  text-decoration: none;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-text {
  flex: 2;
  color: black;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
}

.nav-icon-box {
  flex: 1;
  text-decoration: none;
  height: 32px;
}

.nav-icon {
  height: 30px;
}

.playlist-box {
  margin: 10px;
  flex: 18;
}

/*top bar styling*/
.top-bar {
  grid-area: main-view;
  min-width: 0;
  height: 63px;
  z-index: 2;
}

/*main view styling*/
.main-box {
  grid-area: main-view;
  width: 100%;
}

.main-box-contents {
  margin-left: 31px;
  margin-right: 31px;
}

/*footer styling*/
.music-player-box {
  background-color: rgba(23, 234, 78, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: music-player-bar;
  width: 100%;
  z-index: 4;
}

.music-player-box-contents {
  flex: 1;
  text-align: center;
}
